/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 5, 2019, 5:35:49 PM
    Author     : VinhNT
*/
imgshow {
    position: absolute;
    width: auto;
    height: 150px;
    left: 0;
}

.buttonshow {
    position: absolute;
    width: 100px;
    left: 0;
    top: 300px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.buttonshow a { 
    width: 10px;
}

.contai nerx:hover .buttonshow {
    opacity: 1;
}

.buttonshow1 {
    position: absolute;
    width: 100px;
    left: 0;
    top: 300px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.buttonshow1 a {
    width: 10px;
}

.containerx:hover .buttonshow1 {
    opacity: 1;
}

.buttonshow2 {
    position: absolute;
    width: 100px;
    left: 0;
    top: 450px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.buttonshow2 a {
    width: 10px;
}

.containerx:hover .buttonshow2 {
    opacity: 1;
}